/* Layout styles */
.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #f0f0f0; /* Light grey background */
	font-family: 'Inter', sans-serif; /* Inter font */
	color: #000; /* Black text */
}

/* Wrapper styles */
.wrapper {
	display: flex;
	flex: 1;
}

/* Container styles */
.container {
	padding: var(--spacing-base);
	margin: var(--spacing-base);
}

.section {
	padding: var(--spacing-base);
	background-color: #fff; /* White background */
	border-radius: 8px; /* Rounded corners */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Drop shadow */
	border: 1px solid #e0e0e0; /* Light grey border */
	margin: 40px; /* Space between sidebar and main content */
}

.main-content {
	flex: 1;
}

/* Header styles */
.header {
	background-color: #fff; /* White background */
	color: #000; /* Black text */
	padding: 1rem;
	border-bottom: 1px solid #e0e0e0; /* Light grey border */
	position: sticky;
	top: 0;
	z-index: 1000;
}

/* Header container styles */
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Logo styles */
.logo {
	width: 100px;
}

/* Navigation styles */
.nav {
	display: flex;
}

.nav-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-item {
	margin-left: 1rem;
}

.nav-item a {
	color: #000; /* Black text */
	text-decoration: none;
	padding: 0.5rem 1rem;
	border-radius: 4px; /* Rounded corners */
	transition: background-color 0.3s;
}

.nav-item a:hover {
	background-color: #e0e0e0; /* Light grey background on hover */
}

/* Sidebar styles */
.sidebar {
	width: 200px;
	background-color: #fff; /* White background */
	padding: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Drop shadow */
	border: 1px solid #e0e0e0; /* Light grey border */
}

.footer {
	background-color: #fff; /* White background */
	color: #000; /* Black text */
	padding: 1rem;
	border-top: 1px solid #e0e0e0; /* Light grey border */
	text-align: center;
}
