.row {
	width: 90%;
	margin: auto;
}

.flex-row {
	display: flex;
	flex-flow: row;
}

.card {
	background-color: #fff;
	border: 1px solid var(--color-border);
	border-radius: 4px;
	padding: var(--spacing-base);
	margin-bottom: var(--spacing-large);
}

.card-title {
	font-size: var(--font-size-lg);
	margin-bottom: var(--spacing-base);
}

.cardBody {
	font-size: var(--font-size-base);
}

.status {
	padding: 10px;
	margin-bottom: 5px;
}

.latency-bar {
	height: 20px;
	background-color: #f0f0f0;
	border-radius: 10px;
	overflow: hidden;
}

.empty-data-bar {
	width: 100%;
}

.latency-segment {
	height: 100%;
	border-radius: 10px;
}

.latency-green {
	background-color: var(--wifi-green);
}

.latency-orange {
	background-color: var(--phone-orange);
}

.latency-red {
	background-color: var(--phone-orange-dark);
}
